@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&family=Fira+Code:wght@300;400;500;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --purple: #c09bd8;
  --green: #87b38d;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}

.fade-in {
  animation: fadeInUp 2s ease-out forwards;
}

.fade-in-fast {
  animation: fadeInUp 1s ease-out forwards;
}

.fade-out {
  animation: fadeOutUp 1s ease-out forwards;
}

.fade-out-fast {
  animation: fadeOutUp 0.5s ease-out forwards;
  opacity: 0;
}

.animation-delay {
  animation-delay: 0.5s;
}
